*{
    margin: 0;
    padding: 0;
}

/* HEADER */

header{
    padding: 25px;
    background-image: url("img/header.jpg");
    background-size: cover;
}
header .no-border{
    border: none;
}
header .no-border-radius{
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
header .no-button{
    border: none;
    background-color: #fff;
    color: #17a2b8;
}
header .no-button:hover{
    background-color: #17a2b8;
    color: #fff;
}
header nav{
    padding: 25px 5px 25px;
}
header nav .left-navbar{
    color: #fff;
    float: left;
    padding-right: 10px;
}
header nav .dropdown{
    float: right;
    padding-left: 20px;    
}
header nav #dropdownMenuLink{
    color: #fff;
    text-decoration: none;
}
header nav #dropdownMenuLink:hover{
    text-decoration: underline;
}
header nav a:hover{
    color: #17a2b8;
}

/* MAIN */

main nav{
    padding-top: 10px;
    overflow: auto;
}
main nav li{
    font-size: 15;
    float: left;
    list-style: none;
    padding-left: 15px;
    text-decoration: none;
}
main ul li a{
    color: #6c757d;
}
main ul li a:hover{
    color: #17a2b8;
}
main nav button{
    float: right;
    border-radius: 5px;
    padding: 0 5px;
}
main div#app{
    padding-top: 10px;
}
main .card{
    margin-top: 10px;
}
.tiles{
    margin-right: 10px;
    width: 16rem;
    float: left;
}
main .card .card-header{
    background-color: #17a2b8;
    color: #fff;
}
main .cancellation{
    background-color: #dc3545;
    color: #fff;
}

