<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">

    <title>Task</title>
</head>
<body>

    <div class="container" id="app">
        
        <header>

            <div class="input-group p-15px">
                <input type="text" class="form-control no-border" aria-label="Text input with segmented dropdown button" placeholder="Начните отсюда">
                <div class="input-group-append">
                    <select class="form-control no-border-radius">
                        <option>Везде</option>
                    </select>
                  <button type="button" class="btn btn-outline-primary no-button fas fa-search"></button>
                </div>
            </div>
        
            <nav class="header-navbar">
                    <p class="left-navbar">Вид</p>
                    <a href="#" class="left-navbar" id="tiles" v-on:click.prevent="justifyLink = true"><i class="fas fa-th-large"></i></a>
                    <a href="#" class="left-navbar" id="lines" v-on:click.prevent="justifyLink = false"><i class="fas fa-align-justify"></i></a>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Сортировка
                    </a>
                  
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Статус заявки
                    </a>
                  
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        К кому вопрос
                    </a>
                  
                </div>
            </nav>

        </header>

        <main>

            <nav>
                <ul>
                    <li><a href="#">Активные 8</a></li>
                    <li><a href="#">Мои соглашение 2<sup> (+1)</sup></a></li>
                    <li><a href="#">Публичные 3</a></li>
                    <li><a href="#">Завершённые 2</a></li>
                </ul>
                <button>+</button>
            </nav>

            <div>

                <div v-for="(nameplate, index) in nameplates" class="card" v-bind:class="{ tiles: justifyLink }">
                    <div v-if="cancellationLink" class="card-header" style="background-color: #dc3545">Отменено</div>
                    <div v-else class="card-header">{{nameplate.status}}</div>
                    <div class="card-body">
                    <p><i class="fas fa-desktop"></i>{{nameplate.title}}</p>
                    <p class="card-text text-muted">{{nameplate.text}}</p>
                    <button v-on:click.prevent="cancellationLink = !cancellationLink" type="button" class="btn btn-outline-secondary btn-sm">Отменить</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Сообщение</button>
                    </div>
                </div>
            
                </div>

            </div>
            
        </main>

    </div>
    
</body>
    
    <script src="https://use.fontawesome.com/bd1b1587d3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>

</html>