<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Zoo Task</title>

  </head>

  <body>

      <div class="container pt-5" id="app">

        <div class="row">

          <div class="col-sm-9" id="cells">

            <h3>Cells</h3>
            <hr>

            <div class="row">
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#1</h5>
                    <ul class="list-group">
                   
                    </ul>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#2</h5>
                    <ul class="list-group">
                      
                    </ul>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#3</h5>
                    <ul class="list-group">

                    </ul>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#4</h5>
                    <ul class="list-group">
                      
                    </ul>
                </div>
              </div>
            </div>

            
            <div class="row pt-3">
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#5</h5>
                    <ul class="list-group">
                      
                    </ul>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#6</h5>
                    <ul class="list-group">
                      
                    </ul>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#7</h5>
                    <ul class="list-group">
                      
                    </ul>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <h5 class="card-header">#8</h5>
                    <ul class="list-group">
                      
                    </ul>
                </div>
              </div>

            </div>


          </div>

          <div class="col-sm-3" id="animals">
            <h3>Animals</h3>
            <hr>

            <ul class="list-group">
                <li 
                v-on:click="modalVisibility = true"
                v-for="animal in animals"
                class="list-group-item list-group-item-action pointer">
                {{ animal }}
                </li>
            </ul>

            <div class="input-group md-3 pt-3">
              <input v-model="newAnimal" id="animalName" class="form-control" type="text" placeholder="add animal...">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button" v-on:click="addAnimal">Add</button>
              </div>
            </div>
          </div>

        </div>
          
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <script src="app.js"> </script>

  </body>

</html>
